# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*

# Git
.git
.gitignore

# Docker
docker-compose.yml

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build cache
dist
build
coverage
