NODE_ENV=
PORT=
HOST_NAME=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GEMINI_API_KEY=

SESSION_SECRET=

CLIENT_ORIGINS=

VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_PAY_URL=
VNP_RETURN_URL=
VNP_IPN_URL=
